@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Hi This is Radha </h1>
<h1>Conflict Tag Radha</h1>
<p>radha lsjdf<p></p>

<h1>b</h1>
Cissis branch changes
</p>

<p>THIS IS FROM ANOTHER BRANCH!!!</p>
<script>

    for(let i = 0; i < 10; i++){
        console.log('haha lmao');
    }

</script>


<p>jhfcjgrxf</p>